<!DOCTYPE html>
<html>
  <head>
    <title>CybrillaTinyUrl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <a href="/" class="title">Tiny Url</a>
      <%= yield %>
    </div>
  </body>
</html>
